
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<link rel="stylesheet" type="text/css" href="/static/base.css" />
<link rel="stylesheet" type="text/css" href="/static/forms.css" />
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>

<body>

<div class="navigation">
<a href="/">Home</a>
<a href="/">Dashboard</a> 
<a href="/">Update</a>    
<a href="/">Download</a> 
<a href="/">Medications</a>
<a href="registration">Registration</a>
<a href="/">Logout</a>  
<b>VITAL5</b>
</div>


<div class="welcome_block">
<div class="welcome">
This is a thing, probably welcome text.  This is a diabetic management tool.  You track your readings and start seeing the correlation to how you're feeling. Blah blah blah this is how it works.  Probably should workd on a name or something.  Maybe some fancy chops.  Track your blood sugar.  Manage your meds.  Manange your doctors.  Communicate.  
</div>


<div class="log_in">
	{% block content %} 
	  <h1> {{ state }}</h1>
		<form action="" method="post">
			{% csrf_token %}
		     {% if next %}
			
			<input type="hidden" name="next" value="{{ next }}" />
			{% endif %}
			Username:
			<br><input type="text" name="username" value="{{ username }}" /><br />
			Password:  
			<br><input type="password" name="password" value="" /><br />

	      <input type="submit" value="Log In" />

	  </form>
	{% endblock %}<br>
	<p> Not signed up? <a href="registration">Register Here.</a>
</div>
</div>

<div class="front_image"> 

</div>

</body>
</html>