<html>
<head>

<link rel="stylesheet" type="text/css" href="/static/base.css" />
<link rel="stylesheet" type="text/css" href="/static/forms.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<!-- Additional files for the Highslide popup effect  per the ajax vs-->
	<script type="text/javascript" src="http://www.highcharts.com/highslide/highslide-full.min.js"></script>
	<script type="text/javascript" src="http://www.highcharts.com/highslide/highslide.config.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/highslide/highslide.css" />

<title>Dashboard</title>
<script>
var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep",
	"Oct", "Nov", "Dec"];
var vital_data = {{data|safe}};
var comments = {};


var chart;
Highcharts.setOptions({
	chart: {
		style: {
    		fontFamily: "Lucida Grande,DejaVu Sans,Bitstream Vera Sans,Verdana,Arial,sans-serif"

			}
	}
});

$(document).ready(function() {
	// Prepare our data series
	var mood = [];
	var activity = [];
	var x_axis = [];
	var high_bgl = [];
	var low_bgl = [];
	var diet = [];

	for (var i = 0; i < vital_data.length; i++) {
		var vital = vital_data[i].fields;
		mood.push(vital.mood);
		activity.push(vital.activity);
		var date = new Date(vital.entered_at);
		var date_str = months[date.getMonth()] + "-" + date.getDate();
		x_axis.push(date_str);
		high_bgl.push(vital.high_BGL);
		low_bgl.push(vital.low_BGL);
		diet.push(vital.diet);
		comments[date_str] = vital.comments;

	}

  chart = new Highcharts.Chart({
     chart: {
        renderTo: 'container1',
        type: 'line',
        marginRight: 130,
        marginBottom: 25,
        width: 800,
    },
     title: {
        text: 'Blood Glucose Variation' 
    },
     xAxis: {
        categories: x_axis

	},
	yAxis: {
		title: {
        text: 'Blood Glucose Levels (mg/dL)'
    },

	},
	tooltip: {
        formatter: function() {
                return this.x +" : " + comments[this.x];
        }
    },       
		credits: {
		enabled: false
		},
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -10,
        y: 100,
        borderWidth: 0
    },
     series: [{
        name: 'Daily High',
        // color: '#0066ff',
        data: high_bgl
     }, {
        name: 'Daily Low',
        // color: '#FF0000',
        data: low_bgl
     }]
  });




chart2 = new Highcharts.Chart({
	chart: {
	    renderTo: 'container2',
	    type: 'line',
	    marginRight: 130,
	    marginBottom: 25,
	    width: 800,

	},
	 title: {
	    text: 'Qualitative Health'
	},
	 xAxis: {
	    categories: x_axis

		},
	 yAxis: { 
	 	max: 10,

	    title: {
	       text: 'Qualitative Scale'

	    }
	 },
		tooltip: {
	        formatter: function() {
	            return this.x +" : " + comments[this.x];			
	        }
	    },
		credits: {
			enabled: false
		},
	    legend: {
	        layout: 'vertical',
	        align: 'right',
	        verticalAlign: 'top',
	        x: -10,
	        y: 100,
	        borderWidth: 0
	    },
    series: [{
        name: 'Mood Rating',
        data: mood
    	}, {
        name: 'Diet Rating',
        data: diet
		},
		{
        name: 'Activity Rating',
        data: activity
     	}]
		});
});
</script>

</head>
<body>

	<div class="navigation">
	<a href="/">Home</a>
	<a href="/user">Dashboard</a> 
	<a href="update">Update</a>    
	<a href="meds">Medications</a>
	<a href="download">Download</a> 
	<a href="/registration">Registration</a>
	<a href="/logout">Logout</a>  
	</div>

<div class = "chartparent">
	<div id="container1" style="width: 100%; height: 500px"></div> 
	<div id="container2" style="width: 100%; height: 250px"></div>
</div>
</body>
</html>
