<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Updating {{ user }} Medications</title>
<link rel="stylesheet" type="text/css" href="/static/base.css" />
<link rel="stylesheet" type="text/css" href="/static/forms.css" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<style>
		body{
			font-family:Arial,Helvetica,sans-serif;
			font-size: 12px;
			}
	</style>
</head>





<div class="navigation">
	<a href="/">Home</a>
	<a href="/user">Dashboard</a>
	<a href="/update">Update</a>    
	<a href="/meds">Medications</a>
	<a href="/user/update/download">Download</a> 
	<a href="/registration">Registration</a>
	<a href="/user/logout">Logout</a>  
</div>

<body>

	<div class="medsparent">

		<div class="timeline">
					<h1> Medication Timeline</h1>
			<ul class="events">
			<li style="width: 42%; left: 57%;"> Coumadin <em>(Dr. Coleman)</em><span>some text here blah much longer text omg? whatever will happen with this craziness  but realistically this is the longest out there</span></li>
			<li style="width: 59%; left: 40%;">Metformin <em>(Dr. Coleman)</em><span>commnets, side effects, whatever extra info</span></li>
			<li style="width: 48%; left: 28%;">Neurotin <em>(Dr. Newman)</em><span>some text here ?</span></li>
			<li style="width: 86%; left: 13%;">Insulin <em>(Dr. Colemam)</em><span>AC1 just under 10, starting 6 unit mealtime dose. </span></li>
			<li style="width: 42%; left: 0;">Simvastatin <em>(Dr. Newman)</em><span>some text here ?</span></li>
			<li style="width: 99%; left: 0;">Multi-V <em>(Dr. Newman)</em><span>some text here ?</span></li>
			</ul>
			<div id="x-axis">
				<ul class="intervals">
				<li>Dec-11</li>
				<li>Jan-12</li>
				<li>Feb-12</li>
				<li>Mar-12</li>
				<li>Apr-12</li>
				<li>May-12</li>
				<li>Jun-12</li>
				</ul>
			</div>            
		</div>


		<div class = "medsupdate">
			<h1> Medication Update for {{ user }}</h1>
			<div class ="meds">
				<form action="{% url meds %}" method="post">
				<table>
				{{ form.as_table }}
				</table>
				{% csrf_token %}
				<input type="submit" value="Update" />
				</form>
			</div>
		</div>
	</div>
</div>





<!-- test area for the data feeds before screwing around with timeline-->

<!-- <table> 
<tr>
	<td>User</td>
	<td>Medication</td>
	<td>Side Effects</td>
	<td>Dosage</td>
	<td>Prescribing Dr</td>
	<td>Comments</td>
	<td>Date</td>
	<td>Time</td>
</tr>
{% for medication in medication %}
<tr>
	<td>{{ medication.user }}</td>
	<td>{{ medication.medication }}</td>
	<td>{{ medication.side_effects }}</td>
	<td>{{ medication.dosage }}</td>
	<td>{{ medication.prescribing_dr }}</td> 
	<td>{{ medication.comments }}</td>
	<td>{{ medication.entered_at|date }}</td>  
	<td>{{ medication.entered_at|time }}</td> 
</tr> 
{% endfor %}

</table> -->
</body>
</html>