<!-- UserCreationForm here:  Users/student/src/LaurensProject/env/lib/python2.7/site-packages/django/contrib/auth -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/static/base.css" />
<link rel="stylesheet" type="text/css" href="/static/forms.css" />
<title>Registration</title>
</head>


<div class="navigation">
	<a href="/">Home</a>
	<a href="/">Dashboard</a> 
	<a href="/">Update</a>
	<a href="/">Download</a> 
	<a href="/">Medications</a>
	<a href="registration">Registration</a>
	<a href="logout">Logout</a>  
 </div>

<div class="log_in">
	{% block content %}
	  <h1>Create an account</h1>

	  <form action="" method="post">
	      <table>{{ form.as_table }}</table>
	      <input type="submit" value="Create the account">
	  </form>
	{% endblock %}
</div>
</html>