
<link rel="stylesheet" type="text/css" href="/static/base.css" />
<link rel="stylesheet" type="text/css" href="/static/forms.css" />

<div class="breadcrumbs">
<a href="/">Home</a>
<a href="/">Dashboard</a> 
<a href="/">Update</a>
<a href="/">Download</a> 
<a href="registration">Registration</a>
<a href="logout">Logout</a>  

</div>


{% block title %}Create an account{% endblock %}

{% block content %}
  <h1>Create an account</h1>

  <form action="" method="post">
      {{ form.as_p }}
      <input type="submit" value="Create the account">
  </form>
{% endblock %}