

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Updating {{ vital.user }} Info</title>

<link rel="stylesheet" type="text/css" href="/static/base.css" />
<link rel="stylesheet" type="text/css" href="/static/forms.css" />

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	
	<style>
		body{
			font-family:Arial,Helvetica,sans-serif;
			font-size: 12px;
			}
	</style>
</head>

<div class="breadcrumbs">
<a href="/">Home</a>
<a href="user_detail">Dashboard</a>
<a href="update">Update</a>    
<a href="/user/{{ id }}/update/download">Download</a> 
<a href="/registration">Registration</a>
<a href="/user/{{ id }}/logout">Logout</a>  

</div>

<body>
	<h1> Daily Update for {{ current_user }}</h1>
	<form action="/user/{{ id }}/update_info/" method="post">
		<input type="hidden" name="next" value="{{ next }}" /> 

		Date: 
		<input id="id_entered_at_0" type="text" class="vDateField" name="entered_at_0" size="10">
		<a href="javascript:DateTimeShortcuts.handleCalendarQuickLink(0, 0);">Today</a>
		<a href="javascript:DateTimeShortcuts.openCalendar(0);" id="calendarlink0">
		<img src="/static/icon_calendar.gif" alt="Calendar"></a></span><br>

 
		Time: 
		<input id="id_entered_at_1" type="text" class="vTimeField" name="entered_at_1" size="8">
		<a href="javascript:DateTimeShortcuts.handleClockQuicklink(0, new Date().strftime('%H:%M:%S'));">Now</a>
		<a href="javascript:DateTimeShortcuts.openClock(0);" id="clocklink0">
		<img src="/static/icon_clock.gif" alt="Clock"></a></span></p>


		High BGL for Today:
		<input type="int" id="high_BGL" /><br>
		Low BGL for Today:
		<input type="int" id="low_BGL" /><br>
		Anything memorable about today:
		<input type="text" id="comments" /><br>

	<div class=qualitative>
		How would you rate your diet (1-10):
		<input type="range" id="diet" min="0" max="10" step ="1"/><br>
		How would you rate your activity level (1-10):
		<input type="range" id="activity" min="0" max="10" step ="1"/><br>
		How would you rate your overall mood (1-10):
		<input type="range" id="mood" min="0" max="10" step ="1"/><br>
	</div>
	

	<div class=optional>
	<h1>Would you like to update the below inforation? 
		How much do you currently weight?:
		<input type="int" id="weight" /><br>
		Current height:
		<input type="int" id="height" /><br>
		What is your most recent blood pressure:
		<input type="int" id="systolic"  /> / <input type="int" id="diastolic"  /><br>
		<div class=medications>





		</div>






	</div>

	<div class=medications>



	</div> 
		<input type="submit" value="Update" />
	</form>
</body>

</html>




<p>here will be a button to return to the main details dashboard</p>
<a href="user/{{ id }}/detail">back button to the main user dashboard</a><br><br><br>



<style type = "text/css">
table, td  {
	padding: 5px; 
	border: 1px solid black;
}
</style>
<head><b>Your Current Stats:</b></head>
<table> 
<tr>
	<td>User</td>
	<td>High BGL</td>
	<td>Low BGL</td>
	<td>Diet</td>
	<td>Activity</td>
	<td>Mood</td>
	<td>Comments</td>
	<td>Weight</td>
	<td>Blood Pressure</td>
	<td>Date</td>
	<td>Time</td>
</tr>
{% for vital in vitals %}
<tr>
	<td>{{ vital.user }}</td>
	<td>{{ vital.high_BGL }}</td>
	<td>{{ vital.low_BGL }}</td>
	<td>{{ vital.diet }}</td>
	<td>{{ vital.activity }}</td>
	

<!-- just playing around with how one would make some of the info more user readable -->
<!-- not particularly useful right meow -->
<!-- for later, think about drop down selection boxes if you want more detail specific information -->
<!-- either way, normalize input, lauren cant spell-->
	{% if vital.mood < 4 %}
		<td> Bad </td>
	{% elif vital.mood > 3 and vital.mood < 7  %}
		<td>Average</td>
	{% else %}
		<td>Good</td>
	{% endif %}

	<td>{{ vital.comments }}</td> 
	<td>{{ vital.weight }}</td>
	<td>{{ vital.systolic }} / {{ vital.diastolic }}</td>
	<!-- filters that pesky timedatefeild -->
	<td>{{ vital.entered_at|date }}</td>  
	<td>{{ vital.entered_at|time }}</td> 
</tr> 
{% endfor %}

</table><br>

