

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Updating {{ vital.user }} Info</title>

<link rel="stylesheet" type="text/css" href="/static/base.css" />
<link rel="stylesheet" type="text/css" href="/static/forms.css" />

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<style>
		body{
			font-family:Arial,Helvetica,sans-serif;
			font-size: 12px;
			}
	</style>
</head>

<div class="navigation">
	<a href="/">Home</a>
	<a href="/user">Dashboard</a>
	<a href="user/update">Update</a>    
	<a href="user/meds">Medications</a>
	<a href="/user/download">Download</a> 
	<a href="/registration">Registration</a>
	<a href="/user/logout">Logout</a>  
</div>

<body>
	<div class ="updateparent">
		<div class="review">
		<style type = "text/css">
		table, td  {
			padding: 5px; 
			border: 1px;
		}
		</style>
		<h1>Your Current Stats:</h1>
		<table id="2"> 
		<tr>
			<td>High BGL</td>
			<td>Low BGL</td>
			<td>Comments</td>
			<td>Date</td>

		</tr>
		{% for vital in vitals %}
		<tr>
			<td>{{ vital.high_BGL }}</td>
			<td>{{ vital.low_BGL }}</td>
			<td>{{ vital.comments }}</td> 
			<!-- filters that pesky timedatefeild -->
			<td>{{ vital.entered_at|date }}</td>  

		</tr> 
		{% endfor %}
		</table><br>
	</div>
	<div class ="update">
		<h1> Daily Update for {{ user }}</h1>
		<form action="{% url update %}" method="post">
			<table>
			{{ form.as_table }}
			</table>
			{% csrf_token %}
			<input type="submit" value="Update" />
		</form>
	</div>


	
</div>

</body>
</html>
