
<!-- table formatting not particularly useful for passing data, will be replaced with js graph -->
<style type = "text/css">
table, td  {
	padding: 5px; 
	border: 1px solid black;
}
</style>
<table> 
<tr>
	<td>User</td>
	<td>High BGL</td>
	<td>Low BGL</td>
	<td>Diet</td>
	<td>Activity</td>
	<td>Mood</td>
	<td>Comments</td>
	<td>Weight</td>
	<td>Systolic</td>
	<td>Diastolic</td>
	<td>Medications</td>
	<td>Date</td>
	<td>Time</td>
</tr>
{% for vital in vitals %}
<tr>
	<td>{{ vital.user }}</td>
	<td>{{ vital.high_BGL }}</td>
	<td>{{ vital.low_BGL }}</td>
	<td>{{ vital.diet }}</td>
	<td>{{ vital.activity }}</td>

<!-- just playing around with how one would make some of the info more user readable -->
<!-- not particularly useful right meow -->
<!-- for later, think about drop down selection boxes if you want more detail specific information -->
<!-- either way, normalize input, lauren cant spell-->
	{% if vital.mood < 4 %}
		<td> Bad </td>
	{% elif vital.mood > 3 and vital.mood < 7  %}
		<td>Average</td>
	{% else %}
		<td>Good</td>
	{% endif %}

	<td>{{ vital.comments }}</td> 
	<td>{{ vital.weight }}</td>
	<td>{{ vital.systolic }}</td>
	<td>{{ vital.diastolic }}</td>
	<td>{{ vital.medications }}</td>
	<!-- filters that pesky timedatefeild -->
	<td>{{ vital.entered_at|date }}</td>  
	<td>{{ vital.entered_at|time }}</td> 
</tr> 
{% endfor %}

</table>

<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<!-- Additional files for the Highslide popup effect  per the ajax vs-->
	<script type="text/javascript" src="http://www.highcharts.com/highslide/highslide-full.min.js"></script>
	<script type="text/javascript" src="http://www.highcharts.com/highslide/highslide.config.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/highslide/highslide.css" />
	<div id="container1" style="width: 100%; height: 500px"></div>
	<div id="container2" style="width: 100%; height: 500px"></div>
</head>


	<!-- <body>
		<p><var>high_BGL</var> = [{% for vital in vitals %} 
				{{ vital.high_BGL }},
				{% endfor %}]</p>

		<p><var>low_BGL</var> = [{% for vital in vitals %}
					{{ vital.low_BGL }},
					{% endfor %}]</p>

		<p><var>diet</var> = [{% for vital in vitals %} 
				{{ vital.diet }},
				{% endfor %}]</p>

		<p><var>activity</var> = [{% for vital in vitals %} 
				{{ vital.activity }},
				{% endfor %}]</p>

		<p><var>mood</var> = [{% for vital in vitals %} 
				{{ vital.mood }},
				{% endfor %}]</p>
		<p><var>comment</var> = [{% for vital in vitals %}
				{{ vital.comments }},
				{% endfor %}]</p>


	</body>
 -->


<div=graph1>
		<script>
		 var chart1; 
		$(document).ready(function() {
	      chart1 = new Highcharts.Chart({
	         chart: {
	            renderTo: 'container1',
	            type: 'line',
	            marginRight: 130,
                marginBottom: 25,
                width: 800,

	        },
	         title: {
	            text: 'Blood Glucose Variation'
	        },
	         xAxis: {
	            categories: [{% for vital in vitals %}
						"{{ vital.entered_at|date:"M-d" }}",
						{% endfor %}]
        	},
	         yAxis: {
	            title: {
	               text: 'Daily BGL measurements'
	            }
	         },
			tooltip: {
                formatter: function() {
                        return [{% for vital in vitals %}
								'{{ vital.comments }}',
								{% endfor %}]			
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
	         series: [{
	            name: 'High BGL',
	            data: [{% for vital in vitals %} 
					{{ vital.high_BGL }},
					{% endfor %}]
	         }, {
	            name: 'Low BGL',
	            data: [{% for vital in vitals %}
						{{ vital.low_BGL }},
						{% endfor %}]
	         }]
	      });
	   });
		</script>
	</div>



	<!-- change this not a line graph -->
	<!-- better way to display?> -->
	<div=graph2>
		<script>
		 var chart1; 
		$(document).ready(function() {
	      chart1 = new Highcharts.Chart({
	         chart: {
	            renderTo: 'container2',
	            type: 'line',
	            marginRight: 130,
                marginBottom: 25,
                width: 600,

	        },
	         title: {
	            text: 'Qualitative Health'
	        },
	         xAxis: {
	            categories: [{% for vital in vitals %}
						"{{ vital.entered_at|date:"M-d" }}",
						{% endfor %}]
        	},
	         yAxis: {
	            title: {
	               text: 'Qualitative Scale'
	               // change the scale to reflect
	               // categories: ['Poor', 'Average', 'Great']
	            }
	         },
			tooltip: {
                formatter: function() {
                        return [{% for vital in vitals %}
								'{{ vital.comments }}',
								{% endfor %}]			
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },


            // normalize this somehow, perhaps with a more readable scale, or condensed
	         series: [{
	            name: 'Mood',
	            data: [{% for vital in vitals %} 
					{{ vital.mood }},
					{% endfor %}]
	         }, {
	            name: 'Diet',
	            data: [{% for vital in vitals %}
						{{ vital.diet }},
						{% endfor %}]
			},
				{
	            name: 'Activity',
	            data: [{% for vital in vitals %}
						{{ vital.activity }},
						{% endfor %}]
	         }]
	      });
	   });
		</script>
	</div>






</html>






